In [1]:
import pandas as pd
import requests
import base64
from datetime import datetime, timedelta

api_key = "9BBBELQU69JG4JZNMHKNC8WWJ" 
location = "Berlin"
start_date = datetime(2013,5,15)
end_date = datetime(2023,5,15)


url = f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{location}/{start_date.strftime("%Y-%m-%d")}/{end_date.strftime("%Y-%m-%d")}?unitGroup=metric&include=days&key={api_key}&contentType=json"
response = requests.get(url)
if response.status_code == 200:
    data = response.json()

df = pd.read_json(data)

df.to_csv("weather_data_From_5_YearsAgo.csv", index=False)

In [2]:
tbl1 = pd.read_csv("weather_data_From_5_YearsAgo.csv.csv")
tbl2 = pd.read_csv("Last 10 years weather.csv")
tbl1

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,Berlin,2013-05-15,25.0,8.0,17.3,25.0,5.8,16.9,7.0,55.6,...,28.1,9,NaN,2013-05-15T05:10:21,2013-05-15T20:56:20,0.18,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"10385099999,EDDB"
1,Berlin,2013-05-16,26.0,13.0,20.1,26.0,13.0,20.1,9.5,53.5,...,26.0,9,NaN,2013-05-16T05:08:49,2013-05-16T20:57:54,0.21,"Rain, Partially cloudy",Becoming cloudy in the afternoon with early mo...,rain,"10385099999,EDDB"
2,Berlin,2013-05-17,27.0,17.0,22.3,26.7,17.0,22.3,10.7,48.4,...,25.8,8,NaN,2013-05-17T05:07:20,2013-05-17T20:59:26,0.24,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"10385099999,EDDB"
3,Berlin,2013-05-18,21.0,11.0,15.2,21.0,11.0,15.2,12.1,82.4,...,12.8,4,NaN,2013-05-18T05:05:52,2013-05-18T21:00:57,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"10385099999,EDDB"
4,Berlin,2013-05-19,23.0,9.0,16.0,23.0,7.6,15.7,9.3,68.3,...,28.3,9,NaN,2013-05-19T05:04:27,2013-05-19T21:02:27,0.31,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"10385099999,EDDB"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,Berlin,2023-05-11,21.6,10.4,16.8,21.6,10.4,16.8,7.9,60.2,...,21.9,10,10.0,2023-05-11T05:17:35,2023-05-11T20:49:20,0.70,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,"00427,07389,00420,03987,00403,E2835,00433,00400"
3649,Berlin,2023-05-12,21.9,10.5,17.2,21.9,10.5,17.2,5.5,47.6,...,24.9,9,10.0,2023-05-12T05:15:54,2023-05-12T20:50:58,0.75,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,"00427,07389,00420,03987,00403,E2835,00433,00400"
3650,Berlin,2023-05-13,21.8,11.1,16.5,21.8,11.1,16.5,4.6,47.3,...,21.2,9,10.0,2023-05-13T05:14:16,2023-05-13T20:52:34,0.78,Clear,Clear conditions throughout the day.,clear-day,"00427,00420,03987,00403,E2835,00433,00400"
3651,Berlin,2023-05-14,20.1,9.8,15.2,20.1,8.1,15.1,6.4,57.7,...,12.0,6,10.0,2023-05-14T05:12:39,2023-05-14T20:54:10,0.81,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"00427,00420,03987,00403,E2835,00433,00400"
3652,Berlin,2023-05-15,20.1,7.9,13.9,20.1,7.9,13.9,8.2,69.6,...,12.4,5,10.0,2023-05-15T05:11:04,2023-05-15T20:55:45,0.85,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"00427,07389,00420,03987,00403,E2835,00433,00400"

In [3]:
tbl2

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),sunrise (iso8601),sunset (iso8601),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h)
0,01/05/2013,0,13.9,2.4,8.3,2013-05-01T06:29,2013-05-01T21:25,0.0,0.0,14.1,31.7
1,02/05/2013,0,14.7,2.6,9.0,2013-05-02T06:27,2013-05-02T21:27,0.0,0.0,14.7,35.6
2,03/05/2013,1,17.4,2.4,10.8,2013-05-03T06:26,2013-05-03T21:28,0.0,0.0,16.8,37.4
3,04/05/2013,51,14.5,7.2,10.8,2013-05-04T06:24,2013-05-04T21:30,0.6,0.0,25.8,56.9
4,05/05/2013,3,16.7,5.1,11.3,2013-05-05T06:22,2013-05-05T21:31,0.0,0.0,11.7,29.9
...,...,...,...,...,...,...,...,...,...,...,...
3662,11/05/2023,61,16.9,8.1,12.5,2023-05-11T06:13,2023-05-11T21:40,5.4,0.0,10.2,20.2
3663,12/05/2023,53,12.4,8.9,10.7,2023-05-12T06:11,2023-05-12T21:42,1.5,0.0,30.5,59.4
3664,13/05/2023,3,16.5,8.6,11.7,2023-05-13T06:09,2023-05-13T21:43,0.0,0.0,20.9,40.3
3665,14/05/2023,51,19.0,7.1,12.7,2023-05-14T06:08,2023-05-14T21:45,0.3,0.0,10.9,24.1
3666,15/05/2023,51,14.3,10.1,12.2,2023-05-15T06:06,2023-05-15T21:46,0.5,0.0,20.8,46.4